<html>
<head>
    <title></title>
    <script src="~/Scripts/jquery-1.10.2.min.js"></script>
    <script src="~/lib/ligerUI/js/core/base.js"></script>
    <script src="~/lib/ligerUI/js/plugins/ligerGrid.js"></script>
    <script src="~/Scripts/jquery.PrintArea.js"></script>
    <link href="~/Content/PrintCSS.css" rel="stylesheet" />
</head>
<body>
    <div id="show" class="divFont" style="margin-top:20px;margin-left:30px">
        <br />
        <div>
            <div style="width:600px">
                <label class="col-sm-2 control-label" style="width:200px">用户购气明细表</label>
                <br /><br />
                <table class="table table-condensed tabFont">
                    <tr>
                        <td>业务编号</td>
                        <td><input type="text" id="ywbh" name="ywbh" class="form-control setting" style="width:200px" disabled="disabled" value="@ViewBag.ywbh" /></td>
                    </tr>
                    <tr>
                        <td>用户姓名</td>
                        <td><input type="text" id="hm" name="hm" class="form-control setting" style="width:200px" disabled="disabled" value="@ViewBag.hm" /></td>
                    </tr>
                </table>
            </div>
            <div id="maingrid" style=" margin-top:30px;"></div>
        </div>
        <div style="clear: both; margin-top: 30px">
            <br />
            <input type="button" value="打印预览" id="PrintViewBtn" class="btn btn-default" style="margin-left: 200px; width: 100px" />
            <input type="button" value="返回" id="BackBtn" class="btn btn-default" style="margin-left: 100px; width: 100px" />
        </div>
    </div>
    <div class="divFont" id="print" hidden>
        <div id="printArea" style="text-align: center;margin-right: auto; margin-left: auto;">
            <table style="margin:auto">
                <tr>
                    <td style="text-align:center"><h3>用户购气明细</h3></td>
                </tr>
                <tr>
                    <td style="text-align:center"><p>============================</p></td>
                </tr>
            </table>
            <table style="margin:auto">
                <tr>
                    <td>用户编号：</td>
                    <td>@ViewBag.ywbh</td>
                    <td>&nbsp;&nbsp;</td>
                    <td>用户姓名：</td>
                    <td>@ViewBag.hm</td>
                </tr>
            </table>
            <table class="printTable">
                <tr class="printTr">
                    <td class="printTd">次数</td>
                    <td class="printTd">购买气量</td>
                    <td class="printTd">购买金额</td>
                    <td class="printTd">购买日期</td>
                    <td class="printTd">操作员</td>
                </tr>
                @foreach (var item in ViewBag.yysjlist)
                {
                    <tr class="printTr">
                        <td class="printTd">@item.skcs</td>
                        <td class="printTd">@item.skql</td>
                        <td class="printTd">@item.skje</td>
                        <td class="printTd">@item.skrq</td>
                        <td class="printTd">@item.czy</td>
                    </tr>
                }
            </table>
        </div>
        <div style="text-align: center;margin-right: auto; margin-left: auto;">
            <br />
            <input type="button" value="打印" id="PrintBtn" class="btn btn-default" style="margin-left: 50px; width: 100px" />
            <input type="button" value="返回" id="BackBtn2" class="btn btn-default" style="margin-left: 100px; width: 100px" />
        </div>
    </div>
    
    <script type="text/javascript">
        var gridData = {};
        gridData.Rows = @Html.Raw(Json.Encode(@ViewBag.yysjlist1))
        $('#maingrid').ligerGrid({
            columns: [
                    { display: '购气次', name: 'skcs'},
                    { display: '购气量', name: 'skql' },
                    { display: '金额', name: 'skje'},
                    { display: '日期', name: 'skrq'}
            ],
            enabledEdit: true,
            width: '50%',
            data: gridData

        })
        $("#PrintViewBtn").click(function () {
            $("#show").hide();
            $("#print").show();
        });
        $("#BackBtn").click(function () {
            var postData={};
            var ywbh = $("#ywbh").val();
            postData = {
                ChooseContent: "ywbh",
                QueryContent: ywbh
            }
            $.post("../QueryStatistics/UserInfoQuery", postData, queryCallBack);
        });
        function pueryCallBack(data) {
            $('#mainContainer').load(data);
        }
        //打印
        $("#PrintBtn").bind("click", function (event) {
            $("#printArea").printArea();
        });
        $("#BackBtn2").click(function () {
            $("#show").show();
            $("#print").hide();
        });
    </script>
</body>
</html>